.container { width: 240px }
body {
display: block;
width:100%;
background: #96b6ff;
color: #000000;
font-family: Trebuchet MS, Arial, Times New Roman;
font-size: 12px;
margin: 0;
padding: 0;
}

#header {

      }
      image {
      position	: relative;
      width		: 100%;
      }
      h1 {
      position	: absolute;
      top		: 150px;
      margin: 50px;
      }
#navigation {
  display: block;
  background: #96b6ff;

  padding-left: 10px;
  margin: 0;
      }
#menu {

      }
#content {
  background: #96b6ff;
  color: #000000;
  font-family: Trebuchet MS, Arial, Times New Roman;
  font-size: 20px;
      }
      h3 { text-align: center }
      h4 { text-align: center }
.image {
  display: block;
  margin: 0 auto;
  
}